.item {
    display: flex;
    flex-direction: column;

    padding-right: 1rem;
}

.item:has(.special) {
    margin-bottom: 0.5rem;
}

.time {
    display: flex;
    gap: 1rem;
}

.day {
    min-width: 9rem;
}

.special {
    color: #e30613;
}