# Endpoint of the api
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Endpoint for images hosted by the api
NEXT_PUBLIC_API_CONTENT_URL="http://localhost:8000/storage"

# Default map bounds for amsterdam, lng / lat
NEXT_PUBLIC_MAP_BOUNDS=[[4.7285, 52.2782], [5.0792, 52.4312]]

# Map file name (.mptiles)
# Make sure the mptiles file is in public/maps
NEXT_PUBLIC_MAP="amsterdam"