# Endpoint of the api
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Endpoint for images hosted by the api
NEXT_PUBLIC_API_CONTENT_URL="http://localhost:8000/storage"

# Default map bounds for amsterdam
NEXT_PUBLIC_MAP_BOUNDS=[[48.1382, 16.2680], [48.2919, 16.4856]]