# Endpoint of the api
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Endpoint for images hosted by the api
NEXT_PUBLIC_API_CONTENT_URL="http://localhost:8000/storage"

# Default map bounds for amsterdam, lng / lat
# Beware that the map wont zoom to show out of bounds!
# Too small of an area will result in a zoomed in map
NEXT_PUBLIC_MAP_BOUNDS=[[4.7285, 52.2782], [5.0792, 52.4312]]

# Center of the map when loaded
NEXT_PUBLIC_MAP_CENTER=[4.898968, 52.369259]

# Map file name (.mptiles)
# Make sure the mptiles file is in public/maps
NEXT_PUBLIC_MAP="amsterdam"

# How far to initially zoom in 0-24
NEXT_PUBLIC_MAP_INITIAL_ZOOM=13

# How far you can zoom out
NEXT_PUBLIC_MAP_MIN_ZOOM=8

# How far you can zoom in
NEXT_PUBLIC_MAP_MAX_ZOOM=17