.main {
    min-height: 100vh;
    margin: 0 1rem;
}

.title {
    /* margin: 0 1rem; */
}

.aboutSection {
    display: block;
    gap: 1rem;
    margin: 1rem auto;
}

.sectionRight {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .title {
        text-align: center;
    }
    .aboutSection {
        display: flex;
    }
    .sectionRight {
        width: 50%;
    }
}