.main {
	min-height: 100vh;
}

.aboutSection {
	display: block;
	gap: 1rem;
	margin: 0 1rem;
	margin-bottom: 2rem;
}

.sectionRight {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1rem;
}

@media screen and (min-width: 600px) {
	/* .aboutSection {
        display: flex;
    }
    .sectionRight {
        width: 50%;
        margin-top: 0;
    } */
}
