.card {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
}

.title {
    font-weight: 500;
}

@media screen and (min-width: 600px) {
    .card {
        justify-content: center;
    }   
}