.title {
    text-align: center;
}

.venue {
    text-align: center;
}

.content {
    margin-top: 2.4rem;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    list-style: none;

    margin: 1rem 0;
}

.www {
    width: fit-content;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: flex-start;

    gap: 0.5rem;

    margin: 0.5rem 0;
}

.type {
    min-width: 6rem;

    /* text-align: end; */

    font-weight: 700;
}

.artists {
    display: flex;
    flex-wrap: wrap;

    gap: 0.5rem;

    list-style: none;
}

.route {
    text-decoration: underline;
}

.cta {
    position: sticky;

    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.cta a {
    margin: 1.2rem 1.2rem 1rem 1.2rem;

    padding: 0.8rem 1.2rem;

    /* background: #f18500; */
    /* Zoe, Taco zei dat hij de navigatie link een regenboog wilde maken. Is dit goed? */
    background: linear-gradient(
        to right,
        hsl(0, 100%, 50%),
        hsl(30, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(150, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(210, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(280, 100%, 50%)
    );
    color: #fff;

    font-weight: 700;

    border-radius: 1.2rem;
}

@media screen and (min-width: 600px) {
    .content {
        width: 90%;
        margin: 0 auto;

        margin: 1rem auto;

        max-width: 75rem;
    }
}

.blobPink,
.blobBlue {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.blobGreen {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.blobBrown {
    position: absolute;
    bottom: 0;
    left: 75px;
    z-index: -1;
}

@media screen and (min-width: 900px) {
    .blobPink {
        width: 306px;
        height: 303px;
    }

    .blobBlue {
        width: 331px;
        height: 402px;
    }

    .blobGreen {
        width: 289px;
        height: 321px;
    }

    .blobBrown {
        width: 324px;
        height: 266px;
        bottom: -20px;
    }
}