.section {
    margin: auto;
    /* remove if we decide to add copyright */
    padding-bottom: 2.5rem;
}

.title {
    
}

.partners {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.placeholder {
    text-align: center;
    margin: 2rem 0;

    font-weight: 500;

    color: hsl(0, 0%, 40%);
}

@media screen and (min-width: 600px) {
    .title {
        text-align: center;
    }
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }
}