@import url("https://use.typekit.net/kzv2joe.css");

html.modal {
	overflow: hidden;
	padding-right: var(--padding);

	pointer-events: none;
	touch-action: none;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

* {
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	letter-spacing: -0.025rem;
	font-weight: 300;
	font-style: normal;
}

h1,
h2 {
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}
