.ribbon {
    opacity: 0;
    position: fixed;
    
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    gap: 1rem;

    padding: 0.5rem 0;

    overflow: hidden;

    background: white;

    animation: close 250ms ease-out forwards;
}

.ribbon.open {
    animation: open 250ms ease-out forwards;
}

.ribbon:not(.open) .item {
    animation-play-state: paused    ;
}

.item {
    display: flex;
    gap: 1rem;

    flex-shrink: 0;
    animation: scroll 180s linear infinite;
    min-width: 100%;

    list-style: none;
}

.text strong {
    font-weight: 700;
}

.text em {
    font-style: italic;
    font-weight: 300;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(calc(-100% - 1rem), 0);
    }
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}