.section {
    margin: 1rem 0;
}

.toggle {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    border: none;
    background: none;

    cursor: pointer;
}

.title {
    font-weight: 700;
    padding-bottom: 4px;

    font-size: 2rem;
}

.eye {
    width: 2.5rem;
}

.tags {
    display: none;

    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    margin-top: 0.5rem;
}

.tags.open {
    display: grid;
}

.button {
    border: 2px solid black;
    border-radius: 12px;

    background: white;

    padding: 0.5rem 1rem;

    cursor: pointer;

    box-shadow: 0 4px 4px #00000030;
}
.selected {
    background: #839faf;
    color: white;
}

@media screen and (min-width: 600px) {
    .toggle {
        margin: 0 auto;
    }

    .tags.open {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
    }
}
