.list {
    overflow: hidden;

    height: auto;

    transition: height .25s ease-out;
    interpolate-size: allow-keywords;
}

.list.open {
    /* height: auto; */
}

.button {
    display: block;

    margin: 0 auto;
    margin-top: 1rem;

    border: none;
    background: none;

    font-size: 1.6rem;
    font-weight: 500;

    cursor: pointer;

    color: hsl(202, 22%, 30%);
}